[submodule "c-class"]
	path = c-class
	url = https://github.com/Soham2oo4/otbn_shakti_integration.git
	branch = c-class-otbn-p384-5.6.1
[submodule "tool_install"]
	path = tool_install
	url = https://gitlab.com/lavanyajagan/tool_install.git
